# Normilization of cleanned data tables

In [1]:
# Load libraries 

import pandas as pd 
import os

In [2]:
path = "./Resources/Cleanned/accident_df.csv"

accident_df = pd.read_csv(path)

In [3]:
accident_df.head(5)

,ACCIDENT_NO,ACCIDENT_DATE,ACCIDENT_TIME,ACCIDENT_TYPE,ACCIDENT_TYPE_DESC,DAY_WEEK_DESC,DCA_CODE,DCA_DESC,LIGHT_CONDITION,NODE_ID,...,NO_PERSONS_INJ_2,NO_PERSONS_INJ_3,NO_PERSONS_NOT_INJ,NO_PERSONS,POLICE_ATTEND,ROAD_GEOMETRY,ROAD_GEOMETRY_DESC,SEVERITY,SPEED_ZONE,RMA
0,T20120000060,2012-01-01,19:40:00,6,Vehicle overturned (no collision),Sunday,184,OUT OF CONTROL ON CARRIAGEWAY (ON BEND),1,248602,...,1,0,0,1,1,2,T intersection,2,60,Local Road
1,T20120000028,2012-01-01,04:00:00,4,Collision with a fixed object,Sunday,183,OFF LEFT BEND INTO OBJECT/PARKED VEHICLE,5,248598,...,1,0,0,1,1,2,T intersection,2,100,Local Road
2,T20120000021,2012-01-01,07:30:00,4,Collision with a fixed object,Sunday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICLE,1,248597,...,0,2,1,3,1,5,Not at intersection,3,50,Local Road
3,T20120000050,2012-01-01,15:00:00,4,Collision with a fixed object,Sunday,171,LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICLE,1,248600,...,0,1,0,1,1,5,Not at intersection,3,999,Local Road
4,T20120000056,2012-01-01,16:15:00,4,Collision with a fixed object,Sunday,183,OFF LEFT BEND INTO OBJECT/PARKED VEHICLE,1,249133,...,2,0,0,2,1,2,T intersection,2,100,Local Road

In [4]:
accident_df.columns

Index(['ACCIDENT_NO', 'ACCIDENT_DATE', 'ACCIDENT_TIME', 'ACCIDENT_TYPE',
       'ACCIDENT_TYPE_DESC', 'DAY_WEEK_DESC', 'DCA_CODE', 'DCA_DESC',
       'LIGHT_CONDITION', 'NODE_ID', 'NO_OF_VEHICLES', 'NO_PERSONS_KILLED',
       'NO_PERSONS_INJ_2', 'NO_PERSONS_INJ_3', 'NO_PERSONS_NOT_INJ',
       'NO_PERSONS', 'POLICE_ATTEND', 'ROAD_GEOMETRY', 'ROAD_GEOMETRY_DESC',
       'SEVERITY', 'SPEED_ZONE', 'RMA'],
      dtype='object')

# -----------------------------------------------------------------------------------------

# Base Table
'ACCIDENT_NO', 'ACCIDENT_DATE', 'ACCIDENT_TIME', 'ACCIDENT_TYPE','ACCIDENT_TYPE_DESC', 'DAY_WEEK_DESC', 'DCA_CODE', 'DCA_DESC','LIGHT_CONDITION', 'NODE_ID', 'NO_OF_VEHICLES', 'NO_PERSONS_KILLED','NO_PERSONS_INJ_2', 'NO_PERSONS_INJ_3', 'NO_PERSONS_NOT_INJ','NO_PERSONS', 'POLICE_ATTEND', 'ROAD_GEOMETRY', 'ROAD_GEOMETRY_DESC','SEVERITY', 'SPEED_ZONE', 'RMA'

# 1 NF
<b>Rules of 1st Normal Form</b>
- Each table should contain a single value.
- Each record needs to be unique.

<b>Steps to take</b>
- Separate repeating groups into their own table -> No repeating groups


<b>Table form</b>

ACCIDENT_INFO('ACCIDENT_NO', 'ACCIDENT_DATE', 'ACCIDENT_TIME', 'ACCIDENT_TYPE','ACCIDENT_TYPE_DESC', 'DAY_WEEK_DESC', 'DCA_CODE', 'DCA_DESC','LIGHT_CONDITION', 'NODE_ID', 'NO_OF_VEHICLES', 'NO_PERSONS_KILLED','NO_PERSONS_INJ_2', 'NO_PERSONS_INJ_3', 'NO_PERSONS_NOT_INJ','NO_PERSONS', 'POLICE_ATTEND', 'ROAD_GEOMETRY', 'ROAD_GEOMETRY_DESC','SEVERITY', 'SPEED_ZONE', 'RMA')

<b>Check for partial dependencies </b>
- PK is a single-attribute, hence no partial dependecies
# 2NF 
<b>Rules of 2nd Normal Form</b>
- The table should be in 1NF.
- Primary Key does not functionally dependent on any subset of Candidate Key.
- If the relation has a composite PK, then each non-key attribute must be fully dependent on the entire PK and not on a subset of the PK (i.e., there must be no partial dependency or augmentation).

<b> Steps to take</b>
* Remove partial dependencies 


<b>Table form</b>

ACCIDENT_INFO('ACCIDENT_NO', 'ACCIDENT_DATE', 'ACCIDENT_TIME', 'ACCIDENT_TYPE','ACCIDENT_TYPE_DESC', 'DAY_WEEK_DESC', 'DCA_CODE', 'DCA_DESC','LIGHT_CONDITION', 'NODE_ID', 'NO_OF_VEHICLES', 'NO_PERSONS_KILLED','NO_PERSONS_INJ_2', 'NO_PERSONS_INJ_3', 'NO_PERSONS_NOT_INJ','NO_PERSONS', 'POLICE_ATTEND', 'ROAD_GEOMETRY', 'ROAD_GEOMETRY_DESC','SEVERITY', 'SPEED_ZONE', 'RMA')

<b> Check for Transitivte Dependents </b>

ACCIDENT_NO -> {ACCIDENT_TYPE} -> ACCIDENT_TYPE_DESC

ACCIDENT_NO -> {DCA_CODE}      -> DCA_DESC

ACCIDENT_NO -> {ROAD_GEOMETRY} -> ROAD_GEOMETRY_DESC

# 3NF

<b>Rules of 3rd Normal Form</b>
- The tables should be in 2NF.
- There will be no Transitive Dependency.


<b>Table form</b>

ACCIDENT_INFO(<b>'ACCIDENT_NO'</b>,'ACCIDENT_DATE','ACCIDENT_TIME','ACCIDENT_TYPE',DAY_WEEK_DESC','POLICE_ATTEND',
'NO_PERSONS','NO_OF_VEHICLES','LIGHT_CONDITION','NO_PERSONS_KILLED','NO_PERSONS_INJ_2','NO_PERSONS_INJ_3',
'NO_PERSONS_NOT_INJ','SEVERITY', 'SPEED_ZONE', 'RMA','NODE_ID','DCA_CODE','ROAD_GEOMETRY')

ACCIDENT_TYPE(<b>'ACCIDENT_TYPE'</b>,'ACCIDENT_TYPE_DESC',)

DCA_INFO(<b>'DCA_CODE'</b>, 'DCA_DESC',)

ROAD_GEOMETRY(<b>'ROAD_GEOMETRY'</b>, 'ROAD_GEOMETRY_DESC')

In [5]:
accident_df.loc[accident_df["ACCIDENT_TYPE"]==9][["ACCIDENT_TYPE","ACCIDENT_TYPE_DESC"]]

        ACCIDENT_TYPE ACCIDENT_TYPE_DESC
4923                9     Other accident
5444                9     Other accident
5530                9     Other accident
7173                9     Other accident
9676                9     Other accident
...               ...                ...
164498              9     Other accident
165572              9     Other accident
165704              9     Other accident
166028              9     Other accident
166738              9     Other accident

[171 rows x 2 columns]

In [6]:
# Retrieving Accident Type into one table.
Accident_Type = accident_df[["ACCIDENT_TYPE","ACCIDENT_TYPE_DESC"]].drop_duplicates().reset_index(drop=True)

Accident_Type

   ACCIDENT_TYPE                 ACCIDENT_TYPE_DESC
0              6  Vehicle overturned (no collision)
1              4      Collision with a fixed object
2              1             Collision with vehicle
3              8  No collision and no object struck
4              2                  Struck Pedestrian
5              3                      Struck animal
6              5   collision with some other object
7              7     Fall from or in moving vehicle
8              9                     Other accident

In [7]:
# Retrieving DCA unique codes into one table.
DCA_INFO = accident_df[["DCA_CODE","DCA_DESC"]].drop_duplicates().reset_index(drop=True)

DCA_INFO

    DCA_CODE                                           DCA_DESC
0        184            OUT OF CONTROL ON CARRIAGEWAY (ON BEND)
1        183           OFF LEFT BEND INTO OBJECT/PARKED VEHICLE
2        171    LEFT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICLE
3        173   RIGHT OFF CARRIAGEWAY INTO OBJECT/PARKED VEHICLE
4        160  VEHICLE COLLIDES WITH VEHICLE PARKED ON LEFT O...
..       ...                                                ...
76       122                                       LEFT THROUGH
77       165                                TEMPORARY ROADWORKS
78       124  RIGHT/RIGHT BOTH VEHs FROM OPPOSITE DIRECTIONS...
79       161                                      DOUBLE PARKED
80       125  LEFT/LEFT. BOTH VEHs FROM OPPOSITE DIRECTIONS ...

[81 rows x 2 columns]

In [8]:
Road_Geometry = accident_df[["ROAD_GEOMETRY","ROAD_GEOMETRY_DESC"]].drop_duplicates().reset_index(drop=True)

Road_Geometry

   ROAD_GEOMETRY     ROAD_GEOMETRY_DESC
0              2         T intersection
1              5    Not at intersection
2              1     Cross intersection
3              4  Multiple intersection
4              9                Unknown
5              3         Y intersection
6              6               Dead end
7              8       Private property
8              7           Road closure

In [9]:
# Removing moved columns
accident_df = accident_df.drop(["DCA_DESC","ROAD_GEOMETRY_DESC","ACCIDENT_TYPE_DESC"],axis=1)

In [10]:
print("--------------------")                               
print(accident_df.columns)
print("--------------------")
print(Accident_Type.columns)
print("--------------------")
print(DCA_INFO.columns)
print("--------------------")
print(Road_Geometry.columns)

--------------------
Index(['ACCIDENT_NO', 'ACCIDENT_DATE', 'ACCIDENT_TIME', 'ACCIDENT_TYPE',
       'DAY_WEEK_DESC', 'DCA_CODE', 'LIGHT_CONDITION', 'NODE_ID',
       'NO_OF_VEHICLES', 'NO_PERSONS_KILLED', 'NO_PERSONS_INJ_2',
       'NO_PERSONS_INJ_3', 'NO_PERSONS_NOT_INJ', 'NO_PERSONS', 'POLICE_ATTEND',
       'ROAD_GEOMETRY', 'SEVERITY', 'SPEED_ZONE', 'RMA'],
      dtype='object')
--------------------
Index(['ACCIDENT_TYPE', 'ACCIDENT_TYPE_DESC'], dtype='object')
--------------------
Index(['DCA_CODE', 'DCA_DESC'], dtype='object')
--------------------
Index(['ROAD_GEOMETRY', 'ROAD_GEOMETRY_DESC'], dtype='object')

# -----------------------------------------------------------------------------------------

In [11]:
path = "./Resources/Cleanned/accident_event_df.csv"

accident_event_df = pd.read_csv(path)

In [12]:
accident_event_df.head(3)

,ACCIDENT_NO,EVENT_SEQ_NO,EVENT_TYPE,EVENT_TYPE_DESC,VEHICLE_1_ID,VEHICLE_1_COLL_PT,VEHICLE 1 COLL PT DESC,VEHICLE_2_ID,VEHICLE_2_COLL_PT,VEHICLE 2 COLL PT DESC,PERSON_ID,OBJECT_TYPE,OBJECT_TYPE_DESC
0,T20120003962,1,C,Collision,A,1,Right front corner,B,5,Left front corner,NK,99,Not Applicable
1,T20120003991,1,3,Ran off carriageway,A,9,Not known or Not Applicable,NK,NK,Not known or Not Applicable,NK,99,Not Applicable
2,T20120003991,2,C,Collision,A,1,Right front corner,NK,NK,Not known or Not Applicable,NK,6,Traffic sign (no parking/no standing)

In [13]:
accident_event_df.columns

Index(['ACCIDENT_NO', 'EVENT_SEQ_NO', 'EVENT_TYPE', 'EVENT_TYPE_DESC',
       'VEHICLE_1_ID', 'VEHICLE_1_COLL_PT', 'VEHICLE 1 COLL PT DESC',
       'VEHICLE_2_ID', 'VEHICLE_2_COLL_PT', 'VEHICLE 2 COLL PT DESC',
       'PERSON_ID', 'OBJECT_TYPE', 'OBJECT_TYPE_DESC'],
      dtype='object')

In [14]:
accident_event_df.loc[accident_event_df["ACCIDENT_NO"]=="T20120004057"]

,ACCIDENT_NO,EVENT_SEQ_NO,EVENT_TYPE,EVENT_TYPE_DESC,VEHICLE_1_ID,VEHICLE_1_COLL_PT,VEHICLE 1 COLL PT DESC,VEHICLE_2_ID,VEHICLE_2_COLL_PT,VEHICLE 2 COLL PT DESC,PERSON_ID,OBJECT_TYPE,OBJECT_TYPE_DESC
9,T20120004057,1,C,Collision,A,F,Front,B,4,Right rear corner,NK,99,Not Applicable
10,T20120004057,2,2,Fell from vehicle,B,9,Not known or Not Applicable,NK,NK,Not known or Not Applicable,NK,99,Not Applicable

# Base Table
'ACCIDENT_NO', 'EVENT_SEQ_NO', 'EVENT_TYPE', 'EVENT_TYPE_DESC','VEHICLE_1_ID', 'VEHICLE_1_COLL_PT', 
'VEHICLE 1 COLL PT DESC','VEHICLE_2_ID', 'VEHICLE_2_COLL_PT', 'VEHICLE 2 COLL PT DESC','PERSON_ID', 
'OBJECT_TYPE', 'OBJECT_TYPE_DESC'

# 1 NF
<b>Rules of 1st Normal Form</b>
- Each table should contain a single value.
- Each record needs to be unique.

<b>Steps to take</b>
- Separate repeating groups into their own table -> No repeating groups

Repeating groups
accident_no can have multiple event_seq_no

<b>Table form</b>

ACCIDENT_EVENT(<b>'ACCIDENT_NO', 'EVENT_SEQ_NO'</b>, 'EVENT_TYPE', 'EVENT_TYPE_DESC',
'VEHICLE_1_ID', 'VEHICLE_1_COLL_PT', 'VEHICLE 1 COLL PT DESC','VEHICLE_2_ID', 'VEHICLE_2_COLL_PT', 'VEHICLE 2 COLL PT DESC','PERSON_ID','OBJECT_TYPE', 'OBJECT_TYPE_DESC')


<b>Check for partial dependencies </b>
- No partial dependencies, all non-key attributes depend on the composite primary key


# 2NF 
<b>Rules of 2nd Normal Form</b>
- The table should be in 1NF.
- Primary Key does not functionally dependent on any subset of Candidate Key.
- If the relation has a composite PK, then each non-key attribute must be fully dependent on the entire PK and not on a subset of the PK (i.e., there must be no partial dependency or augmentation).

<b> Steps to take</b>
* Remove partial dependencies 

<b>Table form</b>

ACCIDENT_EVENT(<b>'ACCIDENT_NO', 'EVENT_SEQ_NO'</b>, 'EVENT_TYPE', 'EVENT_TYPE_DESC',
'VEHICLE_1_ID', 'VEHICLE_1_COLL_PT', 'VEHICLE 1 COLL PT DESC','VEHICLE_2_ID', 'VEHICLE_2_COLL_PT', 'VEHICLE 2 COLL PT DESC','PERSON_ID','OBJECT_TYPE', 'OBJECT_TYPE_DESC')

<b> Check for Transitivte Dependents </b>
{ACCIDENT-NO, EVENT_SEQ_NO} -> EVENT_TYPE -> EVENT_TYPE_DESC
{ACCIDENT-NO, EVENT_SEQ_NO} -> OBJECT_TYPE -> OBJECT_TYPE_DESC

# 3NF

<b>Rules of 3rd Normal Form</b>
- The tables should be in 2NF.
- There will be no Transitive Dependency.


<b>Table form</b>


ACCIDENT_EVENT(<b>'ACCIDENT_NO', 'EVENT_SEQ_NO'</b>, 'EVENT_TYPE','VEHICLE_1_ID', 'VEHICLE_1_COLL_PT', ,'VEHICLE_2_ID', 'VEHICLE 2 COLL PT DESC', 'PERSON_ID', 'OBJECT_TYPE')

OBJECT(<b>OBJECT_TYPE</b>, OBJECT_TYPE_DESC)

EVENT_TYPE(<b>EVENT_TYPE</b>, EVENT_TYPE_DESC)

VEHICLE_COL1(<b>VEHICLE_1_COLL_PT<b>,VEHICLE 1 COLL DESC)

VEHICLE_COL1(<b>VEHICLE_2_COLL_PT<b>,VEHICLE 2 COLL DESC)

In [15]:
Object_Type = accident_event_df[["OBJECT_TYPE","OBJECT_TYPE_DESC"]].drop_duplicates().reset_index(drop=True)
Event_Type = accident_event_df[["EVENT_TYPE","EVENT_TYPE_DESC"]].drop_duplicates().reset_index(drop=True)
Vehicle_Coll1 = accident_event_df[["VEHICLE_1_COLL_PT","VEHICLE 1 COLL PT DESC"]].drop_duplicates().reset_index(drop=True)

Vehicle_Coll2 = accident_event_df[["VEHICLE_2_COLL_PT","VEHICLE 2 COLL PT DESC"]].drop_duplicates().reset_index(drop=True)

accident_event_df = accident_event_df.drop(["OBJECT_TYPE_DESC","EVENT_TYPE_DESC","VEHICLE 2 COLL PT DESC","VEHICLE 1 COLL PT DESC"],axis=1)

In [16]:
# Renaming column for concat later
Vehicle_Coll2= Vehicle_Coll2.rename(columns={"VEHICLE_2_COLL_PT":"VEHICLE_1_COLL_PT",
                                             "VEHICLE 2 COLL PT DESC":
                                             "VEHICLE 1 COLL PT DESC"})
# Combing both Coll PT tables into one table. 
Vehicle_Coll = pd.concat([Vehicle_Coll1,Vehicle_Coll2])
Vehicle_Coll = Vehicle_Coll.drop_duplicates().reset_index(drop=True).rename(columns={"VEHICLE_1_COLL_PT":"VEHICLE_COLL_PT",
                                                                                    "VEHICLE 1 COLL PT DESC":"VEHICLE COLL PT DESC"})
Vehicle_Coll

   VEHICLE_COLL_PT         VEHICLE COLL PT DESC
0                1           Right front corner
1                9  Not known or Not Applicable
2                2        Right side (forwards)
3                F                        Front
4                0                   Towed unit
5                T                     Top/Roof
6                4            Right rear corner
7                7        Left side (rearwards)
8                5            Left front corner
9                6         Left side (forwards)
10               3       Right side (rearwards)
11               8             Left rear corner
12               R                         Rear
13               U                Undercarriage
14               N                          NaN
15               S                      Sidecar
16              NK  Not known or Not Applicable

In [17]:
print("------------------")
print(accident_event_df.columns)
print("------------------")
print(Object_Type.columns)
print("------------------")
print(Event_Type.columns)
print("------------------")
print(Vehicle_Coll.columns)

------------------
Index(['ACCIDENT_NO', 'EVENT_SEQ_NO', 'EVENT_TYPE', 'VEHICLE_1_ID',
       'VEHICLE_1_COLL_PT', 'VEHICLE_2_ID', 'VEHICLE_2_COLL_PT', 'PERSON_ID',
       'OBJECT_TYPE'],
      dtype='object')
------------------
Index(['OBJECT_TYPE', 'OBJECT_TYPE_DESC'], dtype='object')
------------------
Index(['EVENT_TYPE', 'EVENT_TYPE_DESC'], dtype='object')
------------------
Index(['VEHICLE_COLL_PT', 'VEHICLE COLL PT DESC'], dtype='object')

# -----------------------------------------------------------------------------------------

In [18]:
path = "./Resources/Cleanned/accident_location_df.csv"

accident_location_df = pd.read_csv(path)

In [19]:
accident_location_df.head()

,ACCIDENT_NO,ROAD_NAME,ROAD_TYPE,ROAD_NAME_INT,ROAD_TYPE_INT,DIRECTION_LOCATION
0,T20120000060,LINMAX,COURT,WALLACE,AVENUE,NW
1,T20120000082,DORSET,ROAD,ALLAMBANAN,DRIVE,S
2,T20120000090,CHURCHILL PARK,DRIVE,PARKSIDE,BOULEVARD,E
3,T20120000093,PRINCES,HIGHWAY,IRVINES,ROAD,SW
4,T20120000104,DAVIS,ROAD,LEMARNE,ROAD,W

In [20]:
accident_location_df.columns

Index(['ACCIDENT_NO', 'ROAD_NAME', 'ROAD_TYPE', 'ROAD_NAME_INT',
       'ROAD_TYPE_INT', 'DIRECTION_LOCATION'],
      dtype='object')

# Base Table
'ACCIDENT_NO', 'ROAD_NAME', 'ROAD_TYPE', 'ROAD_NAME_INT','ROAD_TYPE_INT', 
'DIRECTION_LOCATION',


# 1 NF
<b>Rules of 1st Normal Form</b>
- Each table should contain a single value.
- Each record needs to be unique.

<b>Steps to take</b>
- Separate repeating groups into their own table -> No repeating groups

Repeating groups
accident_no can have multiple event_seq_no

<b>Table form</b>

ACCIDENT_LOCATION(<b>'ACCIDENT_NO'</b>,'ROAD_NAME','ROAD_TYPE','ROAD_NAME_INT',
'ROAD_TYPE_INT', 'DIRECTION_LOCATION',)



<b>Check for partial dependencies </b>
- No partial dependencies, single attribute PK


# 2NF 
<b>Rules of 2nd Normal Form</b>
- The table should be in 1NF.
- Primary Key does not functionally dependent on any subset of Candidate Key.
- If the relation has a composite PK, then each non-key attribute must be fully dependent on the entire PK and not on a subset of the PK (i.e., there must be no partial dependency or augmentation).

<b> Steps to take</b>
* Remove partial dependencies 

<b>Table form</b>

ACCIDENT_LOCATION(<b>'ACCIDENT_NO'</b>,'ROAD_NAME','ROAD_TYPE','ROAD_NAME_INT',
'ROAD_TYPE_INT', 'DIRECTION_LOCATION',)


<b> Check for Transitivte Dependents </b>

# 3NF

<b>Rules of 3rd Normal Form</b>
- The tables should be in 2NF.
- There will be no Transitive Dependency.


<b>Table form</b>

ACCIDENT_LOCATION(<b>'ACCIDENT_NO'</b>,'ROAD_NAME','ROAD_TYPE','ROAD_NAME_INT',
'ROAD_TYPE_INT', 'DIRECTION_LOCATION',)

# -----------------------------------------------------------------------------------------

In [21]:
path = "./Resources/Cleanned/atmospheric_df.csv"

atmospheric_df = pd.read_csv(path)

In [22]:
atmospheric_df.head()

    ACCIDENT_NO  ATMOSPH_COND  ATMOSPH_COND_SEQ ATMOSPH_COND_DESC
0  T20130006765             1                 1             Clear
1  T20130006774             1                 1             Clear
2  T20130006803             1                 1             Clear
3  T20130006824             9                 1         Not known
4  T20130006833             1                 1             Clear

In [23]:
# Checking seq column 
atmospheric_df.loc[atmospheric_df["ATMOSPH_COND_SEQ"]==2]

         ACCIDENT_NO  ATMOSPH_COND  ATMOSPH_COND_SEQ ATMOSPH_COND_DESC
81      T20130007988             7                 2      Strong winds
140     T20120014278             7                 2      Strong winds
346     T20150014579             2                 2           Raining
837     T20140021635             7                 2      Strong winds
1449    T20150016493             2                 2           Raining
...              ...           ...               ...               ...
169279  T20120012289             7                 2      Strong winds
169281  T20120012292             7                 2      Strong winds
169330  T20120013087             7                 2      Strong winds
169333  T20120013110             7                 2      Strong winds
169348  T20120013374             2                 2           Raining

[1770 rows x 4 columns]

In [24]:
atmospheric_df.columns

Index(['ACCIDENT_NO', 'ATMOSPH_COND', 'ATMOSPH_COND_SEQ', 'ATMOSPH_COND_DESC'], dtype='object')

# Base Table
'ACCIDENT_NO', 'ATMOSPH_COND', 'ATMOSPH_COND_SEQ', 'ATMOSPH_COND_DESC'


# 1 NF
<b>Rules of 1st Normal Form</b>
- Each table should contain a single value.
- Each record needs to be unique.

<b>Steps to take</b>
- Separate repeating groups into their own table -> No repeating groups

Repeating groups
accident_no can have multiple event_seq_no

<b>Table form</b>

ATMOSHPERIC(<b>ACCIDENT_NO,ATMOSPH_COND_SEQ</b>, ATMOSPH_COND, ATMOSPH_COND_DESC)

<b>Check for partial dependencies </b>
- No partial dependencies, composite PK 


# 2NF 
<b>Rules of 2nd Normal Form</b>
- The table should be in 1NF.
- Primary Key does not functionally dependent on any subset of Candidate Key.
- If the relation has a composite PK, then each non-key attribute must be fully dependent on the entire PK and not on a subset of the PK (i.e., there must be no partial dependency or augmentation).

<b> Steps to take</b>
* Remove partial dependencies 

<b>Table form</b>

ATMOSHPERIC(<b>ACCIDENT_NO,ATMOSPH_COND_SEQ</b>, ATMOSPH_COND, ATMOSPH_COND_DESC)


<b> Check for Transitivte Dependents </b>
{ACCIDENT_NO,ATMOSPH_COND_SEQ} -> ATMOSPH_COND -> ATMOSPH_COND_DESC

# 3NF

<b>Rules of 3rd Normal Form</b>
- The tables should be in 2NF.
- There will be no Transitive Dependency.


<b>Table form</b>

ATMOSHPERIC(<b>ACCIDENT_NO,ATMOSPH_COND_SEQ</b>, ATMOSPH_COND)

ATMOSPH_COND(<b>ATMOSPH_COND</b>, ATMOSPH_COND_DESC)

In [25]:
ATMOSPH_COND= atmospheric_df[["ATMOSPH_COND","ATMOSPH_COND_DESC"]].drop_duplicates().reset_index(drop=True)

atmospheric_df = atmospheric_df.drop(["ATMOSPH_COND_DESC"],axis=1)

In [26]:
print("--------------------")
print(atmospheric_df.columns)
print("--------------------")
print(ATMOSPH_COND.columns)

--------------------
Index(['ACCIDENT_NO', 'ATMOSPH_COND', 'ATMOSPH_COND_SEQ'], dtype='object')
--------------------
Index(['ATMOSPH_COND', 'ATMOSPH_COND_DESC'], dtype='object')

# -----------------------------------------------------------------------------------------

In [27]:
path = "./Resources/Cleanned/node_df.csv"

node_df = pd.read_csv(path)

In [28]:
node_df.head()

,ACCIDENT_NO,LGA_NAME,DEG_URBAN_NAME,LATITUDE,LONGITUDE,POSTCODE_CRASH
0,T20220021115,LATROBE,RURAL_VICTORIA,-38.188345,146.576115,3844
1,T20220016471,STONNINGTON,MELB_URBAN,-37.866454,145.049989,3145
2,T20220011545,WELLINGTON,RURAL_VICTORIA,-37.985367,146.733949,3858
3,T20220009098,BENALLA,RURAL_VICTORIA,-36.797963,145.866604,NK
4,T20220017520,GOLDEN PLAINS,SMALL_TOWNS,-38.021179,144.024292,3328

In [29]:
node_df.columns

Index(['ACCIDENT_NO', 'LGA_NAME', 'DEG_URBAN_NAME', 'LATITUDE', 'LONGITUDE',
       'POSTCODE_CRASH'],
      dtype='object')

In [30]:
node_df.groupby("LATITUDE").count().sort_values(by="LONGITUDE",ascending=False)

            ACCIDENT_NO  LGA_NAME  DEG_URBAN_NAME  LONGITUDE  POSTCODE_CRASH
LATITUDE
-37.810317           84        84              84         84              84
-37.819613           74        74              74         74              74
-37.812466           74        74              74         74              74
-37.792260           64        64              64         64              64
-37.811755           62        62              62         62              62
...                 ...       ...             ...        ...             ...
-37.886470            1         1               1          1               1
-37.886483            1         1               1          1               1
-37.886495            1         1               1          1               1
-37.886498            1         1               1          1               1
-34.115694            1         1               1          1               1

[114489 rows x 5 columns]

# Base Table
'ACCIDENT_NO', 'LGA_NAME', 'DEG_URBAN_NAME', 'LATITUDE', 'LONGITUDE','POSTCODE_CRASH'


# 1 NF
<b>Rules of 1st Normal Form</b>
- Each table should contain a single value.
- Each record needs to be unique.

<b>Steps to take</b>
- Separate repeating groups into their own table -> No repeating groups

Repeating groups
accident_no can have multiple event_seq_no

<b>Table form</b>

NODE(<b>'ACCIDENT_NO'</b>, 'LGA_NAME', 'DEG_URBAN_NAME', 'LATITUDE', 'LONGITUDE','POSTCODE_CRASH')

<b>Check for partial dependencies </b>
- No partial dependencies, Single attribute PK 


# 2NF 
<b>Rules of 2nd Normal Form</b>
- The table should be in 1NF.
- Primary Key does not functionally dependent on any subset of Candidate Key.
- If the relation has a composite PK, then each non-key attribute must be fully dependent on the entire PK and not on a subset of the PK (i.e., there must be no partial dependency or augmentation).

<b> Steps to take</b>

* Remove partial dependencies 

<b>Table form</b>

NODE(<b>'ACCIDENT_NO'</b>, 'LGA_NAME', 'DEG_URBAN_NAME', 'LATITUDE', 'LONGITUDE','POSTCODE_CRASH')


<b> Check for Transitivte Dependents </b>

{ACCIDENT_NO} -> {LATITUDE,LONGITUDE} -> POSTCODE_CRASH
 - Exception due to the nature of the relationship. postcode covers a range of latitude & longititudes

# 3NF

<b>Rules of 3rd Normal Form</b>
- The tables should be in 2NF.
- There will be no Transitive Dependency.


<b>Table form</b>

NODE(<b>'ACCIDENT_NO'</b>, 'LGA_NAME', 'DEG_URBAN_NAME', 'LATITUDE', 'LONGITUDE','POSTCODE_CRASH')

# -----------------------------------------------------------------------------------------

In [31]:
path = "./Resources/Cleanned/person_df.csv"

person_df = pd.read_csv(path)

In [32]:
person_df.head()

,ACCIDENT_NO,PERSON_ID,VEHICLE_ID,SEX,AGE_GROUP,INJ_LEVEL,INJ_LEVEL_DESC,SEATING_POSITION,HELMET_BELT_WORN,ROAD_USER_TYPE,ROAD_USER_TYPE_DESC,LICENCE_STATE,TAKEN_HOSPITAL,EJECTED_CODE
0,T20220027723,B,B,M,50-59,3,Other injury,D,9,2,Drivers,V,NK,0.0
1,T20210018500,A,A,M,30-39,3,Other injury,D,1,2,Drivers,V,NK,0.0
2,T20210026317,01,B,M,70+,4,Not injured,OR,9,3,Passengers,NK,NK,9.0
3,T20220000143,A,A,F,65-69,3,Other injury,D,9,2,Drivers,V,NK,0.0
4,T20170015017,A,A,M,40-49,4,Not injured,D,1,2,Drivers,V,NK,0.0

In [33]:
person_df.columns

Index(['ACCIDENT_NO', 'PERSON_ID', 'VEHICLE_ID', 'SEX', 'AGE_GROUP',
       'INJ_LEVEL', 'INJ_LEVEL_DESC', 'SEATING_POSITION', 'HELMET_BELT_WORN',
       'ROAD_USER_TYPE', 'ROAD_USER_TYPE_DESC', 'LICENCE_STATE',
       'TAKEN_HOSPITAL', 'EJECTED_CODE'],
      dtype='object')

# Base Table
'ACCIDENT_NO', 'PERSON_ID', 'VEHICLE_ID', 'SEX', 'AGE_GROUP','INJ_LEVEL', 'INJ_LEVEL_DESC', 'SEATING_POSITION', 'HELMET_BELT_WORN','ROAD_USER_TYPE', 'ROAD_USER_TYPE_DESC', 'LICENCE_STATE','TAKEN_HOSPITAL', 'EJECTED_CODE'


# 1 NF
<b>Rules of 1st Normal Form</b>
- Each table should contain a single value.
- Each record needs to be unique.

<b>Steps to take</b>
- Separate repeating groups into their own table -> No repeating groups

Repeating groups
accident_no can have multiple vehicle ID 

<b>Table form</b>

PERSON(<b>'ACCIDENT_NO','VEHICLE_ID' 'PERSON_ID'</b>, 'SEX', 'AGE_GROUP','INJ_LEVEL', 'INJ_LEVEL_DESC', 'SEATING_POSITION', 'HELMET_BELT_WORN','ROAD_USER_TYPE', 'ROAD_USER_TYPE_DESC', 'LICENCE_STATE','TAKEN_HOSPITAL', 'EJECTED_CODE')

<b>Check for partial dependencies </b>
- Sex, Age_Group are not partial dependencies due to the format of the data, Person_ID needs correlation with accident_no and vehicle_id to identify each person. 


# 2NF 
<b>Rules of 2nd Normal Form</b>
- The table should be in 1NF.
- Primary Key does not functionally dependent on any subset of Candidate Key.
- If the relation has a composite PK, then each non-key attribute must be fully dependent on the entire PK and not on a subset of the PK (i.e., there must be no partial dependency or augmentation).

<b> Steps to take</b>

* Remove partial dependencies 

<b>Table form</b>

PERSON(<b>'ACCIDENT_NO','VEHICLE_ID' 'PERSON_ID'</b>, 'SEX', 'AGE_GROUP','INJ_LEVEL', 'INJ_LEVEL_DESC', 'SEATING_POSITION', 'HELMET_BELT_WORN','ROAD_USER_TYPE', 'ROAD_USER_TYPE_DESC', 'LICENCE_STATE','TAKEN_HOSPITAL', 'EJECTED_CODE')


<b> Check for Transitivte Dependents </b>

{'ACCIDENT_NO','VEHICLE_ID' 'PERSON_ID'} -> INJ_LEVEL -> INJ_LEVEL_DESC
{'ACCIDENT_NO','VEHICLE_ID' 'PERSON_ID'} -> ROAD_USER_TYPE -> ROAD_USER_TYPE_DESC

# 3NF

<b>Rules of 3rd Normal Form</b>
- The tables should be in 2NF.
- There will be no Transitive Dependency.


<b>Table form</b>

PERSON(<b>'ACCIDENT_NO','VEHICLE_ID' 'PERSON_ID'</b>, 'SEX', 'AGE_GROUP','INJ_LEVEL', , 'SEATING_POSITION', 'HELMET_BELT_WORN','ROAD_USER_TYPE', 'LICENCE_STATE','TAKEN_HOSPITAL', 'EJECTED_CODE')

ROAD_USER(<b>'ROAD_USER_TYPE'</b>,'ROAD_USER_TYPE_DESC')

INJ_LEVEL(<b>'INJ_LEVEL'</b>,'INJ_LEVEL_DESC')

In [34]:
Road_User = person_df[["ROAD_USER_TYPE","ROAD_USER_TYPE_DESC"]].drop_duplicates().reset_index(drop=True)
Inj_Level = person_df[["INJ_LEVEL","INJ_LEVEL_DESC"]].drop_duplicates().reset_index(drop=True)

person_df = person_df.drop(["ROAD_USER_TYPE_DESC","INJ_LEVEL_DESC"],axis=1)

In [35]:
print("----------------")
print(person_df.columns)
print("----------------")
print(Inj_Level.columns)
print("----------------")
print(Road_User.columns)

----------------
Index(['ACCIDENT_NO', 'PERSON_ID', 'VEHICLE_ID', 'SEX', 'AGE_GROUP',
       'INJ_LEVEL', 'SEATING_POSITION', 'HELMET_BELT_WORN', 'ROAD_USER_TYPE',
       'LICENCE_STATE', 'TAKEN_HOSPITAL', 'EJECTED_CODE'],
      dtype='object')
----------------
Index(['INJ_LEVEL', 'INJ_LEVEL_DESC'], dtype='object')
----------------
Index(['ROAD_USER_TYPE', 'ROAD_USER_TYPE_DESC'], dtype='object')

# -----------------------------------------------------------------------------------------

In [36]:
path = "./Resources/Cleanned/road_surface_df.csv"

road_surface_df = pd.read_csv(path)

In [37]:
road_surface_df.head()

    ACCIDENT_NO  SURFACE_COND SURFACE_COND_DESC  SURFACE_COND_SEQ
0  T20130012339             9              Unk.                 1
1  T20130012360             1               Dry                 1
2  T20130012370             1               Dry                 1
3  T20130012375             1               Dry                 1
4  T20130012390             2               Wet                 1

In [38]:
road_surface_df.columns

Index(['ACCIDENT_NO', 'SURFACE_COND', 'SURFACE_COND_DESC', 'SURFACE_COND_SEQ'], dtype='object')

# Base Table
'ACCIDENT_NO', 'SURFACE_COND', 'SURFACE_COND_DESC', 'SURFACE_COND_SEQ'


# 1 NF
<b>Rules of 1st Normal Form</b>
- Each table should contain a single value.
- Each record needs to be unique.

<b>Steps to take</b>
- Separate repeating groups into their own table -> No repeating groups

Repeating groups
accident_no can have multiple vehicle ID 

<b>Table form</b>

ROAD_SURFACE(<b>'ACCIDENT_NO','SURFACE_COND_SEQ'</b>, 'SURFACE_COND', 'SURFACE_COND_DESC',)

<b>Check for partial dependencies </b>
- No partial dependencies, composite PK


# 2NF 
<b>Rules of 2nd Normal Form</b>
- The table should be in 1NF.
- Primary Key does not functionally dependent on any subset of Candidate Key.
- If the relation has a composite PK, then each non-key attribute must be fully dependent on the entire PK and not on a subset of the PK (i.e., there must be no partial dependency or augmentation).

<b> Steps to take</b>

* Remove partial dependencies 

<b>Table form</b>

ROAD_SURFACE(<b>'ACCIDENT_NO','SURFACE_COND_SEQ'</b>, 'SURFACE_COND', 'SURFACE_COND_DESC',)

<b> Check for Transitivte Dependents </b>

{'ACCIDENT_NO','SURFACE_COND_SEQ'} -> Surface_cond -> surface_cond_desc

# 3NF

<b>Rules of 3rd Normal Form</b>
- The tables should be in 2NF.
- There will be no Transitive Dependency.


<b>Table form</b>

ROAD_SURFACE(<b>'ACCIDENT_NO','SURFACE_COND_SEQ'</b>, 'SURFACE_COND')


SURFACE_COND(<b>'SURFACE_COND'</b>, 'SURFACE_COND_DESC')

In [39]:
Surface_Cond = road_surface_df[["SURFACE_COND","SURFACE_COND_DESC"]].drop_duplicates().reset_index(drop=True)
road_surface_df = road_surface_df.drop(["SURFACE_COND_DESC"],axis=1)

In [40]:
print("----------------")
print(road_surface_df.columns)
print("----------------")
print(Surface_Cond.columns)

----------------
Index(['ACCIDENT_NO', 'SURFACE_COND', 'SURFACE_COND_SEQ'], dtype='object')
----------------
Index(['SURFACE_COND', 'SURFACE_COND_DESC'], dtype='object')

# -----------------------------------------------------------------------------------------

In [41]:
path = "./Resources/Cleanned/sub_dca_df.csv"

sub_dca_df = pd.read_csv(path)

In [42]:
sub_dca_df.head()

    ACCIDENT_NO SUB_DCA_CODE  SUB_DCA_SEQ         SUB_DCA_CODE_DESC
0  T20120023069          NRQ            1              Not Required
1  T20120023107          L04            1  Road curved at mid-block
2  T20120023147          N01            1              Intersection
3  T20120023151          NRQ            1              Not Required
4  T20120023171          NRQ            1              Not Required

In [43]:
sub_dca_df.loc[sub_dca_df["ACCIDENT_NO"]=="T20120023440"]

        ACCIDENT_NO SUB_DCA_CODE  SUB_DCA_SEQ            SUB_DCA_CODE_DESC
10     T20120023440          Q04            2                  Embankments
6585   T20120023440          V01            1    No vehicle mounted/struck
29606  T20120023440          W02            3  Leaves carriageway to right

In [44]:
sub_dca_df.columns

Index(['ACCIDENT_NO', 'SUB_DCA_CODE', 'SUB_DCA_SEQ', 'SUB_DCA_CODE_DESC'], dtype='object')

# Base Table
'ACCIDENT_NO', 'SUB_DCA_CODE', 'SUB_DCA_SEQ', 'SUB_DCA_CODE_DESC'


# 1 NF
<b>Rules of 1st Normal Form</b>
- Each table should contain a single value.
- Each record needs to be unique.

<b>Steps to take</b>
- Separate repeating groups into their own table -> No repeating groups

Repeating groups
accident_no can have multiple vehicle ID 

<b>Table form</b>

SUB_DCA(<b>'ACCIDENT_NO', 'SUB_DCA_SEQ'</b>, 'SUB_DCA_CODE', 'SUB_DCA_CODE_DESC')

<b>Check for partial dependencies </b>
- No partial dependencies, composite PK


# 2NF 
<b>Rules of 2nd Normal Form</b>
- The table should be in 1NF.
- Primary Key does not functionally dependent on any subset of Candidate Key.
- If the relation has a composite PK, then each non-key attribute must be fully dependent on the entire PK and not on a subset of the PK (i.e., there must be no partial dependency or augmentation).

<b> Steps to take</b>

* Remove partial dependencies 

<b>Table form</b>

SUB_DCA(<b>'ACCIDENT_NO', 'SUB_DCA_SEQ'</b>, 'SUB_DCA_CODE', 'SUB_DCA_CODE_DESC')

<b> Check for Transitivte Dependents </b>

{'ACCIDENT_NO', 'SUB_DCA_SEQ'} -> 'SUB_DCA_CODE' -> 'SUB_DCA_CODE_DESC'

# 3NF

<b>Rules of 3rd Normal Form</b>
- The tables should be in 2NF.
- There will be no Transitive Dependency.


<b>Table form</b>

SUB_DCA(<b>'ACCIDENT_NO', 'SUB_DCA_SEQ'</b>, 'SUB_DCA_CODE', 'SUB_DCA_CODE_DESC')


SUB_DCA_CODE(<b>'SUB_DCA_CODE'</b>, 'SUB_DCA_CODE_DESC')

In [45]:
Sub_DCA_Code = sub_dca_df[["SUB_DCA_CODE","SUB_DCA_CODE_DESC"]].drop_duplicates().reset_index(drop=True)

sub_dca_df = sub_dca_df.drop(["SUB_DCA_CODE_DESC"],axis=1)

In [46]:
print("--------------")
print(sub_dca_df.columns)
print("----------------")
print(Sub_DCA_Code.columns)

--------------
Index(['ACCIDENT_NO', 'SUB_DCA_CODE', 'SUB_DCA_SEQ'], dtype='object')
----------------
Index(['SUB_DCA_CODE', 'SUB_DCA_CODE_DESC'], dtype='object')

# -----------------------------------------------------------------------------------------

In [47]:
path = "./Resources/Cleanned/vehicle_df.csv"

vehicle_df = pd.read_csv(path)

In [48]:
vehicle_df.head()

,ACCIDENT_NO,VEHICLE_ID,VEHICLE_YEAR_MANUF,VEHICLE_DCA_CODE,INITIAL_DIRECTION,ROAD_SURFACE_TYPE,ROAD_SURFACE_TYPE_DESC,REG_STATE,VEHICLE_BODY_STYLE,VEHICLE_MAKE,...,TRAILER_TYPE,VEHICLE_COLOUR_1,VEHICLE_COLOUR_2,CAUGHT_FIRE,INITIAL_IMPACT,LAMPS,LEVEL_OF_DAMAGE,TOWED_AWAY_FLAG,TRAFFIC_CONTROL,TRAFFIC_CONTROL_DESC
0,T20120000009,A,1996.0,1.0,E,1.0,Paved,V,SEDAN,HOLDEN,...,H,WHI,ZZ,2.0,1,1.0,5,1.0,0.0,No control
1,T20120000012,A,2002.0,1.0,W,1.0,Paved,V,SEDAN,HOLDEN,...,H,BLU,ZZ,2.0,1,1.0,2,2.0,1.0,Stop-go lights
2,T20120000012,B,1988.0,2.0,S,1.0,Paved,V,SEDAN,TOYOTA,...,H,WHI,ZZ,2.0,5,9.0,4,1.0,1.0,Stop-go lights
3,T20120000013,A,1997.0,1.0,N,1.0,Paved,V,SEDAN,MITSUB,...,H,GLD,ZZ,2.0,5,1.0,4,1.0,0.0,No control
4,T20120000013,B,2010.0,2.0,N,1.0,Paved,V,WAGON,TOYOTA,...,H,BLK,ZZ,2.0,4,2.0,4,2.0,0.0,No control

In [49]:
vehicle_df.columns

Index(['ACCIDENT_NO', 'VEHICLE_ID', 'VEHICLE_YEAR_MANUF', 'VEHICLE_DCA_CODE',
       'INITIAL_DIRECTION', 'ROAD_SURFACE_TYPE', 'ROAD_SURFACE_TYPE_DESC',
       'REG_STATE', 'VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_TYPE', 'VEHICLE_TYPE_DESC', 'VEHICLE_WEIGHT', 'FUEL_TYPE',
       'NO_OF_WHEELS', 'NO_OF_CYLINDERS', 'SEATING_CAPACITY',
       'TOTAL_NO_OCCUPANTS', 'CARRY_CAPACITY', 'FINAL_DIRECTION',
       'DRIVER_INTENT', 'VEHICLE_MOVEMENT', 'TRAILER_TYPE', 'VEHICLE_COLOUR_1',
       'VEHICLE_COLOUR_2', 'CAUGHT_FIRE', 'INITIAL_IMPACT', 'LAMPS',
       'LEVEL_OF_DAMAGE', 'TOWED_AWAY_FLAG', 'TRAFFIC_CONTROL',
       'TRAFFIC_CONTROL_DESC'],
      dtype='object')

In [50]:
vehicle_df[['VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_TYPE', 'VEHICLE_TYPE_DESC', 'VEHICLE_WEIGHT', 'FUEL_TYPE',
       'NO_OF_WHEELS', 'NO_OF_CYLINDERS', 'SEATING_CAPACITY',
       'TOTAL_NO_OCCUPANTS', 'CARRY_CAPACITY']]

,VEHICLE_BODY_STYLE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_TYPE,VEHICLE_TYPE_DESC,VEHICLE_WEIGHT,FUEL_TYPE,NO_OF_WHEELS,NO_OF_CYLINDERS,SEATING_CAPACITY,TOTAL_NO_OCCUPANTS,CARRY_CAPACITY
0,SEDAN,HOLDEN,ACCLAI,1,Car,0.0,P,4.0,6.0,5.0,2.0,0.0
1,SEDAN,HOLDEN,MONARO,1,Car,0.0,P,4.0,8.0,4.0,2.0,0.0
2,SEDAN,TOYOTA,NK,1,Car,1450.0,P,4.0,4.0,5.0,1.0,300.0
3,SEDAN,MITSUB,MAGNA,1,Car,0.0,P,4.0,4.0,5.0,1.0,0.0
4,WAGON,TOYOTA,NK,2,Station Wagon,0.0,P,4.0,6.0,7.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
304724,SEDAN,SUZUKI,SWIFT,1,Car,0.0,P,4.0,4.0,5.0,1.0,0.0
304725,WAGON,JEEP,COMPAS,2,Station Wagon,0.0,P,4.0,4.0,5.0,1.0,0.0
304726,SEDAN,FORD,XR6,1,Car,0.0,P,4.0,6.0,5.0,1.0,0.0
304727,SEDAN,TOYOTA,COROLL,1,Car,0.0,P,4.0,4.0,5.0,1.0,0.0
304728,NK,NK,NK,13,Bicycle,0.0,NK,0.0,0.0,0.0,1.0,0.0

# Base Table
'ACCIDENT_NO', 'VEHICLE_ID', 'VEHICLE_YEAR_MANUF', 'VEHICLE_DCA_CODE',
       'INITIAL_DIRECTION', 'ROAD_SURFACE_TYPE', 'ROAD_SURFACE_TYPE_DESC',
       'REG_STATE', 'VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_TYPE', 'VEHICLE_TYPE_DESC', 'VEHICLE_WEIGHT', 'FUEL_TYPE',
       'NO_OF_WHEELS', 'NO_OF_CYLINDERS', 'SEATING_CAPACITY',
       'TOTAL_NO_OCCUPANTS', 'CARRY_CAPACITY', 'FINAL_DIRECTION',
       'DRIVER_INTENT', 'VEHICLE_MOVEMENT', 'TRAILER_TYPE', 'VEHICLE_COLOUR_1',
       'VEHICLE_COLOUR_2', 'CAUGHT_FIRE', 'INITIAL_IMPACT', 'LAMPS',
       'LEVEL_OF_DAMAGE', 'TOWED_AWAY_FLAG', 'TRAFFIC_CONTROL',
       'TRAFFIC_CONTROL_DESC'


# 1 NF
<b>Rules of 1st Normal Form</b>
- Each table should contain a single value.
- Each record needs to be unique.

<b>Steps to take</b>
- Separate repeating groups into their own table -> No repeating groups

Repeating groups
accident_no can have multiple vehicle ID 

<b>Table form</b>

Vehicle(<b>'ACCIDENT_NO', 'VEHICLE_ID'</b>, 'VEHICLE_YEAR_MANUF', 'VEHICLE_DCA_CODE',
       'INITIAL_DIRECTION', 'ROAD_SURFACE_TYPE', 'ROAD_SURFACE_TYPE_DESC',
       'REG_STATE', 'VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_TYPE', 'VEHICLE_TYPE_DESC', 'VEHICLE_WEIGHT', 'FUEL_TYPE',
       'NO_OF_WHEELS', 'NO_OF_CYLINDERS', 'SEATING_CAPACITY',
       'TOTAL_NO_OCCUPANTS', 'CARRY_CAPACITY', 'FINAL_DIRECTION',
       'DRIVER_INTENT', 'VEHICLE_MOVEMENT', 'TRAILER_TYPE', 'VEHICLE_COLOUR_1',
       'VEHICLE_COLOUR_2', 'CAUGHT_FIRE', 'INITIAL_IMPACT', 'LAMPS',
       'LEVEL_OF_DAMAGE', 'TOWED_AWAY_FLAG', 'TRAFFIC_CONTROL',
       'TRAFFIC_CONTROL_DESC')

<b>Check for partial dependencies </b>
- No partial dependencies, composite PK


# 2NF 
<b>Rules of 2nd Normal Form</b>
- The table should be in 1NF.
- Primary Key does not functionally dependent on any subset of Candidate Key.
- If the relation has a composite PK, then each non-key attribute must be fully dependent on the entire PK and not on a subset of the PK (i.e., there must be no partial dependency or augmentation).

<b> Steps to take</b>

* Remove partial dependencies 

<b>Table form</b>

Vehicle(<b>'ACCIDENT_NO', 'VEHICLE_ID'</b>, 'VEHICLE_YEAR_MANUF', 'VEHICLE_DCA_CODE',
       'INITIAL_DIRECTION', 'ROAD_SURFACE_TYPE', 'ROAD_SURFACE_TYPE_DESC',
       'REG_STATE', 'VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_TYPE', 'VEHICLE_TYPE_DESC', 'VEHICLE_WEIGHT', 'FUEL_TYPE',
       'NO_OF_WHEELS', 'NO_OF_CYLINDERS', 'SEATING_CAPACITY',
       'TOTAL_NO_OCCUPANTS', 'CARRY_CAPACITY', 'FINAL_DIRECTION',
       'DRIVER_INTENT', 'VEHICLE_MOVEMENT', 'TRAILER_TYPE', 'VEHICLE_COLOUR_1',
       'VEHICLE_COLOUR_2', 'CAUGHT_FIRE', 'INITIAL_IMPACT', 'LAMPS',
       'LEVEL_OF_DAMAGE', 'TOWED_AWAY_FLAG', 'TRAFFIC_CONTROL',
       'TRAFFIC_CONTROL_DESC')
       
<b> Check for Transitivte Dependents </b>

{'ACCIDENT_NO', 'VEHICLE_ID'} -> TRAFFIC_CONTROL   -> TRAFFIC_CONTROL_DESC
{'ACCIDENT_NO', 'VEHICLE_ID'} -> ROAD_SURFACE_TYPE -> ROAD_SURFACE_TYPE_DESC]
{'ACCIDENT_NO', 'VEHICLE_ID'} -> VEHICLE_TYPE - > VEHICLE_TYPE_DESC


# 3NF

<b>Rules of 3rd Normal Form</b>
- The tables should be in 2NF.
- There will be no Transitive Dependency.


<b>Table form</b>

VEHICLE(<b>'ACCIDENT_NO', 'VEHICLE_ID'</b>, 'VEHICLE_YEAR_MANUF', 'VEHICLE_DCA_CODE',
       'INITIAL_DIRECTION', 'ROAD_SURFACE_TYPE', 'ROAD_SURFACE_TYPE_DESC',
       'REG_STATE', 'VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL', 'VEHICLE_WEIGHT', 'FUEL_TYPE',
       'NO_OF_WHEELS', 'NO_OF_CYLINDERS', 'SEATING_CAPACITY',
       'TOTAL_NO_OCCUPANTS', 'CARRY_CAPACITY', 'FINAL_DIRECTION',
       'DRIVER_INTENT', 'VEHICLE_MOVEMENT', 'TRAILER_TYPE', 'VEHICLE_COLOUR_1',
       'VEHICLE_COLOUR_2', 'CAUGHT_FIRE', 'INITIAL_IMPACT', 'LAMPS',
       'LEVEL_OF_DAMAGE', 'TOWED_AWAY_FLAG', 'TRAFFIC_CONTROL')


TRAFFIC_CONTROL(<b>'TRAFFIC_CONTROL'</b>,'TRAFFIC_CONTROL_DESC')

ROAD_SURFACE_TYPE(<b>ROAD_SURFACE_TYPE</b>, ROAD_SURFACE_TYPE_DESC)

VEHICLE_TYPE(<b>VEHICLE_TYPE</b>, VEHICLE_TYPE_DESC)

In [51]:
Traffic_Control = vehicle_df[["TRAFFIC_CONTROL","TRAFFIC_CONTROL_DESC"]].drop_duplicates().reset_index(drop=True)

Road_Surface_Type = vehicle_df[["ROAD_SURFACE_TYPE","ROAD_SURFACE_TYPE_DESC"]].drop_duplicates().reset_index(drop=True)

Vehicle_Type = vehicle_df[["VEHICLE_TYPE","VEHICLE_TYPE_DESC"]].drop_duplicates().reset_index(drop=True)

vehicle_df = vehicle_df.drop(["TRAFFIC_CONTROL_DESC","ROAD_SURFACE_TYPE_DESC","VEHICLE_TYPE_DESC"],axis=1)

In [52]:
print("-------------------")
print(vehicle_df.columns)
print("-------------------")
print(Traffic_Control.columns)
print("-------------------")
print(Road_Surface_Type.columns)
print("-------------------")
print(Vehicle_Type.columns)

-------------------
Index(['ACCIDENT_NO', 'VEHICLE_ID', 'VEHICLE_YEAR_MANUF', 'VEHICLE_DCA_CODE',
       'INITIAL_DIRECTION', 'ROAD_SURFACE_TYPE', 'REG_STATE',
       'VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL', 'VEHICLE_TYPE',
       'VEHICLE_WEIGHT', 'FUEL_TYPE', 'NO_OF_WHEELS', 'NO_OF_CYLINDERS',
       'SEATING_CAPACITY', 'TOTAL_NO_OCCUPANTS', 'CARRY_CAPACITY',
       'FINAL_DIRECTION', 'DRIVER_INTENT', 'VEHICLE_MOVEMENT', 'TRAILER_TYPE',
       'VEHICLE_COLOUR_1', 'VEHICLE_COLOUR_2', 'CAUGHT_FIRE', 'INITIAL_IMPACT',
       'LAMPS', 'LEVEL_OF_DAMAGE', 'TOWED_AWAY_FLAG', 'TRAFFIC_CONTROL'],
      dtype='object')
-------------------
Index(['TRAFFIC_CONTROL', 'TRAFFIC_CONTROL_DESC'], dtype='object')
-------------------
Index(['ROAD_SURFACE_TYPE', 'ROAD_SURFACE_TYPE_DESC'], dtype='object')
-------------------
Index(['VEHICLE_TYPE', 'VEHICLE_TYPE_DESC'], dtype='object')

# -----------------------------------------------------------------------------------------

In [53]:
# Merging accident_df, accident_location_df, road_surface_df, node_df into one table. AS they all have the same primary key
test = accident_df.merge(accident_location_df)
test = test.merge(road_surface_df)
Accident_Info = test.merge(node_df)

print(Accident_Info.columns)
print(Accident_Info.shape)

Accident_Info.head(1)

Index(['ACCIDENT_NO', 'ACCIDENT_DATE', 'ACCIDENT_TIME', 'ACCIDENT_TYPE',
       'DAY_WEEK_DESC', 'DCA_CODE', 'LIGHT_CONDITION', 'NODE_ID',
       'NO_OF_VEHICLES', 'NO_PERSONS_KILLED', 'NO_PERSONS_INJ_2',
       'NO_PERSONS_INJ_3', 'NO_PERSONS_NOT_INJ', 'NO_PERSONS', 'POLICE_ATTEND',
       'ROAD_GEOMETRY', 'SEVERITY', 'SPEED_ZONE', 'RMA', 'ROAD_NAME',
       'ROAD_TYPE', 'ROAD_NAME_INT', 'ROAD_TYPE_INT', 'DIRECTION_LOCATION',
       'SURFACE_COND', 'SURFACE_COND_SEQ', 'LGA_NAME', 'DEG_URBAN_NAME',
       'LATITUDE', 'LONGITUDE', 'POSTCODE_CRASH'],
      dtype='object')
(170682, 31)

,ACCIDENT_NO,ACCIDENT_DATE,ACCIDENT_TIME,ACCIDENT_TYPE,DAY_WEEK_DESC,DCA_CODE,LIGHT_CONDITION,NODE_ID,NO_OF_VEHICLES,NO_PERSONS_KILLED,...,ROAD_NAME_INT,ROAD_TYPE_INT,DIRECTION_LOCATION,SURFACE_COND,SURFACE_COND_SEQ,LGA_NAME,DEG_URBAN_NAME,LATITUDE,LONGITUDE,POSTCODE_CRASH
0,T20120000060,2012-01-01,19:40:00,6,Sunday,184,1,248602,1,0,...,WALLACE,AVENUE,NW,1,1,WYNDHAM,MELB_URBAN,-37.873671,144.739749,3030

In [54]:
print(f"-------------------- \nAccident Info")                              
print(Accident_Info.columns)
print("-------------------- \nAccident Event") 
print(accident_event_df.columns)
print("-------------------- \nSub DCA") 
print(sub_dca_df.columns)
print("-------------------- \nVehicle") 
print(vehicle_df.columns)
print("-------------------- \nAccident Type") 
print(Accident_Type.columns)
print("-------------------- \nDCA Info") 
print(DCA_INFO.columns)
print("-------------------- \nRoad Geometry") 
print(Road_Geometry.columns)
print("-------------------- \nObject Type") 
print(Object_Type.columns)
print("-------------------- \nEvent Type") 
print(Event_Type.columns)
print("-------------------- \nVehicle Coll") 
print(Vehicle_Coll.columns)
print("-------------------- \nAtmospheric") 
print(atmospheric_df.columns)
print("-------------------- \nAtmosph Cond") 
print(ATMOSPH_COND.columns)
print("-------------------- \nRoad User")
print(Road_User.columns)
print("-------------------- \nInj Level") 
print(Inj_Level.columns)
print("-------------------- \nSurface Cond") 
print(Surface_Cond.columns)
print("-------------------- \nSub DCA CODE") 
print(Sub_DCA_Code.columns)
print("-------------------- \nTraffic Control")
print(Traffic_Control.columns)
print("-------------------- \nRoad Surface Type")
print(Road_Surface_Type.columns)
print("-------------------- \nPerson") 
print(person_df.columns)
print("-------------------- \nVehicle_Type") 
print(Vehicle_Type.columns)

--------------------
Accident Info
Index(['ACCIDENT_NO', 'ACCIDENT_DATE', 'ACCIDENT_TIME', 'ACCIDENT_TYPE',
       'DAY_WEEK_DESC', 'DCA_CODE', 'LIGHT_CONDITION', 'NODE_ID',
       'NO_OF_VEHICLES', 'NO_PERSONS_KILLED', 'NO_PERSONS_INJ_2',
       'NO_PERSONS_INJ_3', 'NO_PERSONS_NOT_INJ', 'NO_PERSONS', 'POLICE_ATTEND',
       'ROAD_GEOMETRY', 'SEVERITY', 'SPEED_ZONE', 'RMA', 'ROAD_NAME',
       'ROAD_TYPE', 'ROAD_NAME_INT', 'ROAD_TYPE_INT', 'DIRECTION_LOCATION',
       'SURFACE_COND', 'SURFACE_COND_SEQ', 'LGA_NAME', 'DEG_URBAN_NAME',
       'LATITUDE', 'LONGITUDE', 'POSTCODE_CRASH'],
      dtype='object')
--------------------
Accident Event
Index(['ACCIDENT_NO', 'EVENT_SEQ_NO', 'EVENT_TYPE', 'VEHICLE_1_ID',
       'VEHICLE_1_COLL_PT', 'VEHICLE_2_ID', 'VEHICLE_2_COLL_PT', 'PERSON_ID',
       'OBJECT_TYPE'],
      dtype='object')
--------------------
Sub DCA
Index(['ACCIDENT_NO', 'SUB_DCA_CODE', 'SUB_DCA_SEQ'], dtype='object')
--------------------
Vehicle
Index(['ACCIDENT_NO', 'VEHICLE_ID', 'VEHICLE_YEAR_MANUF', 'VEHICLE_DCA_CODE',
       'INITIAL_DIRECTION', 'ROAD_SURFACE_TYPE', 'REG_STATE',
       'VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL', 'VEHICLE_TYPE',
       'VEHICLE_WEIGHT', 'FUEL_TYPE', 'NO_OF_WHEELS', 'NO_OF_CYLINDERS',
       'SEATING_CAPACITY', 'TOTAL_NO_OCCUPANTS', 'CARRY_CAPACITY',
       'FINAL_DIRECTION', 'DRIVER_INTENT', 'VEHICLE_MOVEMENT', 'TRAILER_TYPE',
       'VEHICLE_COLOUR_1', 'VEHICLE_COLOUR_2', 'CAUGHT_FIRE', 'INITIAL_IMPACT',
       'LAMPS', 'LEVEL_OF_DAMAGE', 'TOWED_AWAY_FLAG', 'TRAFFIC_CONTROL'],
      dtype='object')
--------------------
Accident Type
Index(['ACCIDENT_TYPE', 'ACCIDENT_TYPE_DESC'], dtype='object')
--------------------
DCA Info
Index(['DCA_CODE', 'DCA_DESC'], dtype='object')
--------------------
Road Geometry
Index(['ROAD_GEOMETRY', 'ROAD_GEOMETRY_DESC'], dtype='object')
--------------------
Object Type
Index(['OBJECT_TYPE', 'OBJECT_TYPE_DESC'], dtype='object')
--------------------
Event Type
Index(['EVENT_TYPE', 'EVENT_TYPE_DESC'], dtype='object')
--------------------
Vehicle Coll
Index(['VEHICLE_COLL_PT', 'VEHICLE COLL PT DESC'], dtype='object')
--------------------
Atmospheric
Index(['ACCIDENT_NO', 'ATMOSPH_COND', 'ATMOSPH_COND_SEQ'], dtype='object')
--------------------
Atmosph Cond
Index(['ATMOSPH_COND', 'ATMOSPH_COND_DESC'], dtype='object')
--------------------
Road User
Index(['ROAD_USER_TYPE', 'ROAD_USER_TYPE_DESC'], dtype='object')
--------------------
Inj Level
Index(['INJ_LEVEL', 'INJ_LEVEL_DESC'], dtype='object')
--------------------
Surface Cond
Index(['SURFACE_COND', 'SURFACE_COND_DESC'], dtype='object')
--------------------
Sub DCA CODE
Index(['SUB_DCA_CODE', 'SUB_DCA_CODE_DESC'], dtype='object')
--------------------
Traffic Control
Index(['TRAFFIC_CONTROL', 'TRAFFIC_CONTROL_DESC'], dtype='object')
--------------------
Road Surface Type
Index(['ROAD_SURFACE_TYPE', 'ROAD_SURFACE_TYPE_DESC'], dtype='object')
--------------------
Person
Index(['ACCIDENT_NO', 'PERSON_ID', 'VEHICLE_ID', 'SEX', 'AGE_GROUP',
       'INJ_LEVEL', 'SEATING_POSITION', 'HELMET_BELT_WORN', 'ROAD_USER_TYPE',
       'LICENCE_STATE', 'TAKEN_HOSPITAL', 'EJECTED_CODE'],
      dtype='object')
--------------------
Vehicle_Type
Index(['VEHICLE_TYPE', 'VEHICLE_TYPE_DESC'], dtype='object')

# All 3NF Forms


ACCIDENT_INFO(<b>'ACCIDENT_NO'</b>,'ACCIDENT_DATE','ACCIDENT_TIME','DAY_WEEK_DESC','POLICE_ATTEND','NO_PERSONS',
'NO_OF_VEHICLES','LIGHT_CONDITION','NO_PERSONS_KILLED','NO_PERSONS_INJ_2','NO_PERSONS_INJ_3','NO_PERSONS_NOT_INJ',
'SEVERITY', 'SPEED_ZONE', 'RMA','NODE_ID','DCA_CODE',ROAD_NAME','ROAD_TYPE','ROAD_NAME_INT',
'ROAD_TYPE_INT', 'DIRECTION_LOCATION','LGA_NAME', 'DEG_URBAN_NAME', 'LATITUDE', 'LONGITUDE','POSTCODE_CRASH','SURFACE_COND_SEQ'</b>, 'SURFACE_COND')

ACCIDENT_EVENT(<b>'ACCIDENT_NO', 'EVENT_SEQ_NO'</b>, 'EVENT_TYPE','VEHICLE_1_ID', 'VEHICLE_1_COLL_PT', 'VEHICLE 1 COLL PT DESC','VEHICLE_2_ID', 'VEHICLE_2_COLL_PT', 'VEHICLE 2 COLL PT DESC', 'PERSON_ID', 'OBJECT_TYPE')

SUB_DCA(<b>'ACCIDENT_NO', 'SUB_DCA_SEQ'</b>, 'SUB_DCA_CODE', 'SUB_DCA_CODE_DESC')
PERSON(<b>'ACCIDENT_NO','VEHICLE_ID' 'PERSON_ID'</b>, 'SEX', 'AGE_GROUP','INJ_LEVEL', , 'SEATING_POSITION', 'HELMET_BELT_WORN','ROAD_USER_TYPE', 'LICENCE_STATE','TAKEN_HOSPITAL', 'EJECTED_CODE')

VEHICLE(<b>'ACCIDENT_NO', 'VEHICLE_ID'</b>, 'VEHICLE_YEAR_MANUF', 'VEHICLE_DCA_CODE',
       'INITIAL_DIRECTION', 'ROAD_SURFACE_TYPE', 'ROAD_SURFACE_TYPE_DESC',
       'REG_STATE', 'VEHICLE_BODY_STYLE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_TYPE', 'VEHICLE_TYPE_DESC', 'VEHICLE_WEIGHT', 'FUEL_TYPE',
       'NO_OF_WHEELS', 'NO_OF_CYLINDERS', 'SEATING_CAPACITY',
       'TOTAL_NO_OCCUPANTS', 'CARRY_CAPACITY', 'FINAL_DIRECTION',
       'DRIVER_INTENT', 'VEHICLE_MOVEMENT', 'TRAILER_TYPE', 'VEHICLE_COLOUR_1',
       'VEHICLE_COLOUR_2', 'CAUGHT_FIRE', 'INITIAL_IMPACT', 'LAMPS',
       'LEVEL_OF_DAMAGE', 'TOWED_AWAY_FLAG', 'TRAFFIC_CONTROL')
       
PERSON(<b>'ACCIDENT_NO','VEHICLE_ID' 'PERSON_ID'</b>, 'SEX', 'AGE_GROUP','INJ_LEVEL', , 'SEATING_POSITION', 'HELMET_BELT_WORN','ROAD_USER_TYPE', 'LICENCE_STATE','TAKEN_HOSPITAL', 'EJECTED_CODE')

ACCIDENT_TYPE(<b>'ACCIDENT_TYPE'</b>,'ACCIDENT_TYPE_DESC',)

DCA_INFO(<b>'DCA_CODE'</b>, 'DCA_DESC',)

ROAD_GEOMETRY(<b>'ROAD_GEOMETRY'</b>, 'ROAD_GEOMETRY_DESC')

OBJECT(<b>OBJECT_TYPE</b>, OBJECT_TYPE_DESC)

EVENT_TYPE(<b>EVENT_TYPE</b>, EVENT_TYPE_DESC)

VEHICLE_COL(VEHICLECOLL_PT,VEHICLE COLL DESC)

ATMOSHPERIC(<b>ACCIDENT_NO,ATMOSPH_COND_SEQ</b>, ATMOSPH_COND)

ATMOSPH_COND(<b>ATMOSPH_COND</b>, ATMOSPH_COND_DESC)

ROAD_USER(<b>'ROAD_USER_TYPE'</b>,'ROAD_USER_TYPE_DESC')

INJ_LEVEL(<b>'INJ_LEVEL'</b>,'INJ_LEVEL_DESC')

SURFACE_COND(<b>'SURFACE_COND'</b>, 'SURFACE_COND_DESC')

SUB_DCA_CODE(<b>'SUB_DCA_CODE'</b>, 'SUB_DCA_CODE_DESC')

TRAFFIC_CONTROL(<b>'TRAFFIC_CONTROL'</b>,'TRAFFIC_CONTROL_DESC')

ROAD_SURFACE_TYPE(<b>ROAD_SURFACE_TYPE</b>, ROAD_SURFACE_TYPE_DESC)

VEHICLE_TYPE(<b>VEHICLE_TYPE</b>, VEHICLE_TYPE_DESC)

In [55]:
outdir = './Resources/Schema'
if not os.path.exists(outdir):
    os.mkdir(outdir)  

Accident_Info.to_csv("./Resources/Schema/Accident_Info.csv", index=False)
accident_event_df.to_csv("./Resources/Schema/Accident_Event.csv",index=False)
sub_dca_df.to_csv("./Resources/Schema/Sub_DCA.csv",index=False)
vehicle_df.to_csv("./Resources/Schema/Vehicle.csv", index=False)
Accident_Type.to_csv("./Resources/Schema/Accident_Type.csv",index=False)
DCA_INFO.to_csv("./Resources/Schema/DCA_Info.csv",index=False)
Road_Geometry.to_csv("./Resources/Schema/Road_Geometry.csv",index=False)
Object_Type.to_csv("./Resources/Schema/Object_Type.csv",index=False)
Event_Type.to_csv("./Resources/Schema/Event_Type.csv",index=False)
Vehicle_Coll.to_csv("./Resources/Schema/Vehicle_Coll.csv",index=False)
atmospheric_df.to_csv("./Resources/Schema/Atmospheric.csv",index=False)
ATMOSPH_COND.to_csv("./Resources/Schema/Atmosph_Cond.csv",index=False)
Road_User.to_csv("./Resources/Schema/Road_User.csv",index=False)
Inj_Level.to_csv("./Resources/Schema/Inj_Level.csv",index=False)
Surface_Cond.to_csv("./Resources/Schema/Surface_Cond.csv",index=False)
Sub_DCA_Code.to_csv("./Resources/Schema/Sub_DCA_Code.csv",index=False)
Traffic_Control.to_csv("./Resources/Schema/Traffic_Control",index=False)
person_df.to_csv("./Resources/Schema/Person.csv",index=False)
Vehicle_Type.to_csv("./Resources/Schema/Vehicle_Type.csv",index=False)